.application,
.appliaction_container {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.appliaction_container {
    margin: 0;
    gap: 1rem;
}
.appliaction_container h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.appliaction_container > h2 {
    font-size: 1.1rem;
    text-align: center;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.application_form {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    background-color: #B4877A40;
    border-radius: 16px;
    padding: 1rem 2rem;
    margin-top: 2rem;
}
.application_form > h2 {
  color: #444;
  font-weight: bold;
  text-decoration: underline;
} 
.application_form input,
.application_form select {
    width: 100%;
    border: 1px solid #000;
    border-radius: 16px;
    padding: 1rem;
    outline: none;
}
.application_form label {
    font-size: 1rem;
    color: #000;
    font-weight: bold;
}
.form1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.form1_content {
    width: 100%;
}
.back_button {
    width: 200px;
    padding: 15px;
    border-radius: 16px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1rem;
}
/* Animation classes */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease-in-out;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  
  .modal_content h2 {
    margin-bottom: 10px;
  }
  
  .modal_content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal_content button:hover {
    background-color: #45a049;
  }
  
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  @media screen and (max-width: 789px) {
    .appliaction_container > h2 {
      width: 90%;
      text-align: center;
    }
    .application_form  {
      width: 95%;
    }
    .form1 {
      flex-direction: column;
    }
    .back_button {
      width: 160px;
      font-size: 1rem;
    }
  }
  