.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem ;
  padding: 2rem;
}
.login_content > img {
  width: 150px;
}
.login_content > h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.form_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  position: relative;

}
.form_group input {
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 16px;
  padding: 10px 3.2rem;
  text-align: left;
}
.form_group span {
  position: absolute;
  top: 55%;
  left:2%;
}
.login_btn {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 16px;
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
  font-size: 18px;
}
.separator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  2rem 0;
}
.separator::before,
.separator::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}
.login_google {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_google button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #ccc;
}
.login_google button span {
  width: 100%;
}

.login_google img {
  width: 30px;
}
.login_banner {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/login_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  flex-direction: column;
  gap: 1rem;
  height: 100vh;
}
.login_card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 2.5rem; 
  border-radius: 16px;
  gap: 1rem;
}
.login_card h1 {
  font-size: 1.5rem;
  width: 300px;
  font-weight: bold;
  text-align: center;
}
.login_banner h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.login_banner p {
  color: #eee;
  font-size: 1rem;
  width: 400px;
  text-align: center;
}

@media screen and (max-width: 789px) {
  .login_banner {
    display: none;
  }
  .login_content {
    width: 100%;
  }
}