.gift,
.gift_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.gift_content {
    width: 300px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0,0, 0.1);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}
