.banner2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner2_container {
    width: 95%;
    font-size: 1.5rem;
    background-image: url("/images/footer-bg.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
        margin-top: 1rem;
    color: #fff;
        background-color: #0074D9;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}